*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: #201D1E;
    box-sizing: border-box;
}


/*CONTAINER START*/

#container{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 24px;
    height: 200px;
}

#container form{
    background-color: #e9e9e9;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 15px;
    padding-bottom: 5px;
}

#container form p {
    color: #333333;
}

@media only screen and (min-width: 1024px) {
    #container{
        width: 1000px;
    }

}

@media only screen and (min-width: 1500px) {
    #container{
        width: 1500px;
    }

}

/*CONTAINER END*/

h1,h2,p{
    color: white;
}

h1{
    font-size: 2em;
    padding-bottom: 0.5em;
}
h2{
    font-size: 1.5em;
    padding-bottom: 1em;
}

.form{
    background-color: white;
    margin-top: 5em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2em;
}
.form h1{
    background-color: #d17f38;
    text-align: center;
    color: white;
    padding: 1.2em 0;
    font-size: 1.5em;
    text-transform: uppercase;
}
.form label,input, button, p{
    display: block;
}
.form form{
    padding: 0.5em 2em;
    padding-bottom: 0;
}
.form label{
    text-transform: uppercase;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
}
button{
    background-color: #d17f38;
    border: 0;
    padding: 1em 2.5em;
    margin: 2em 0;
    text-transform: uppercase;
    color: white;
}
button:hover{
    transition: 0.5s all;
    background-color: #d13d27;
    color: white;
}
.form input{
    width: 100%;
    padding: 0.4em;
    
}
.form p{
    padding-left: 2em;
    padding-right: 2em;
    line-height: 2;
    color: black;
    
}
.form p.error{
    color: #cc0000;
    
}
.form p a:link,
.form p a:visited,
.form p a:hover,
.form p a:active{
    color: #201D1E;
    opacity: 0.7;
}
.form p a:hover{
    transition: 0.5s all;
    opacity: 1;
    padding-left: 0.3em;
}

.topics{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.topic{
    margin: 0.5em;

    height: 175px;
    background-position: top center;
    background-size: cover;
    border-radius: 15px;
    position: relative;
}

.topic p{
    height: 175px;
    width: 175px;
    margin: auto;
    padding: 12px;
    font-size: larger;
    color: white;
    font-weight: bold;
    border-radius: 15px;
}

#topics{
    max-width: 1000px;
}

.checkbox{
    height: 175px;
    width: 175px;
    position: absolute;
    opacity: 0.01;
}

.selected{
    background-color: rgba(1,1,1, 0.6);
}

/*PROFILE.PHP START*/

#update h1{
    color: #333333;
}

#update input{
    margin: 0.5em 0;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#update input#fileToUpload{
    padding-left: 0;
}

#profile_form_left ,#profile_form_right , #profile_form_password {
    margin-top: 25px;
    margin-bottom: 25px;
}

#profile_form_left input,#profile_form_right input, #profile_form_password input{
    width: 100%;
}

#update button{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media only screen and (min-width: 690px) {

    #middle_hr{
        display: none;
    }

    #profile_form_left,#profile_form_right{
        width: 50%;
        float: left;
    }

    #profile_form_left input,#profile_form_right input{
        width: 90%;
    }
}

/*PROFILE.PHP END*/

/*UPLOAD.PHP START*/

#submit h1{
    color: #333333;
}

#submit input{
    width: 100%;
}


#submit input, #submit textarea{
    margin: 0.5em 0;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#submit input#afbeelding{
    padding-left: 0;
}

#submit textarea{
    resize: none;
    width: 100%;
    height: 100px;
}
#submit label{

}


#submit button{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*UPLOAD.PHP END*/

/*ITEM START*/

.item_layout{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.item{
    background-color: #e9e9e9;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    min-width: 250px;
    max-width: 250px;
    min-height: 250px;
    max-height: 250px;
}

.item_img{
    overflow: hidden;
    width: 230px;
    height: 230px;
    background: url('../images/bgPaper.png') center center;
    background-size: cover;
}

@media only screen and (min-width: 690px) {
    .item_layout{
        flex-flow: row wrap ;
    }

}

@media only screen and (min-width: 1024px) {
    .item{
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

/*ITEM END*/

@media ( min-width:500px ){
    .form form{
    padding: 2em 4em;
    padding-bottom: 0;
}
    .form p{
    padding-left: 4em;
    padding-right: 4em;
    line-height: 2;
    
}
}
@media ( min-width:800px ){
    .form{
        width: 450px;
    }
    .edit{
        width: 70%;
    }
}
