hr{
    margin: 1.5em;
}

.info h3{
    width: 150px;
}
.info p{
    line-height: 0em;
}


.error{
    background-color: #F44336;
    width: 80%;
    height: 50px;
    margin:auto;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}